/* 
    Created on : 20-gen-2014, 16.49.46
    Author     : Andrea
*/

body{
    background-color: black;
    font-family: sans-serif;
}


DIV#contentet{
    margin-top: 1%;
    color: white;
    text-align: center;
    width: 1200px;
    margin: auto;
    min-height: 500px; 

}
/*
*Header della pagina
*/

div.header{
    background-image:url('../IMG/head-img.png');
    background-size: 1200px auto;
    width: 1200px;
    height: 300px;
}

img#Logo{

    margin-top: 7%;  
    width: 350px;
    height: auto;
}


#Foot{

    position: relative;
    color: #FFF;
    text-align: center;
}


